USE [master]
GO
/****** Object:  Database [fsc]    Script Date: 27.10.2013 13:07:53 ******/
CREATE DATABASE [fsc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fsc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\fsc.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'fsc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\fsc_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fsc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fsc]
GO
/****** Object:  Table [dbo].[Coaches]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coaches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Coaches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GameEvents]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameEvents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[PlayerID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_GameEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Games]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Team1ID] [int] NOT NULL,
	[Team2ID] [int] NOT NULL,
	[Stadium] [nvarchar](50) NULL,
	[Type] [bit] NOT NULL,
	[RefereeID] [int] NOT NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayerInTeam]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerInTeam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NOT NULL,
	[TeamID] [int] NOT NULL,
 CONSTRAINT [PK_PlayerInTeam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PlayerPositions]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerPositions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PlayerPositions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Players]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Passport] [nchar](10) NOT NULL,
	[IsMain] [bit] NOT NULL,
	[PositionID] [int] NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Referee]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Qualify] [nvarchar](50) NULL,
 CONSTRAINT [PK_Referee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 27.10.2013 13:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CoachID] [int] NOT NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[GameEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_GameEvents_Event] FOREIGN KEY([EventID])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[GameEvents] CHECK CONSTRAINT [FK_GameEvents_Event]
GO
ALTER TABLE [dbo].[GameEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_GameEvents_Game] FOREIGN KEY([GameID])
REFERENCES [dbo].[Games] ([Id])
GO
ALTER TABLE [dbo].[GameEvents] CHECK CONSTRAINT [FK_GameEvents_Game]
GO
ALTER TABLE [dbo].[GameEvents]  WITH NOCHECK ADD  CONSTRAINT [FK_GameEvents_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[GameEvents] CHECK CONSTRAINT [FK_GameEvents_Players]
GO
ALTER TABLE [dbo].[Games]  WITH NOCHECK ADD  CONSTRAINT [FK_Games_Referee] FOREIGN KEY([RefereeID])
REFERENCES [dbo].[Referee] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Referee]
GO
ALTER TABLE [dbo].[Games]  WITH NOCHECK ADD  CONSTRAINT [FK_Games_Team1] FOREIGN KEY([Team1ID])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Team1]
GO
ALTER TABLE [dbo].[Games]  WITH NOCHECK ADD  CONSTRAINT [FK_Games_Teams] FOREIGN KEY([Team2ID])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Teams]
GO
ALTER TABLE [dbo].[PlayerInTeam]  WITH NOCHECK ADD  CONSTRAINT [FK_PlayerInTeam_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([Id])
GO
ALTER TABLE [dbo].[PlayerInTeam] CHECK CONSTRAINT [FK_PlayerInTeam_Players]
GO
ALTER TABLE [dbo].[PlayerInTeam]  WITH NOCHECK ADD  CONSTRAINT [FK_PlayerInTeam_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[PlayerInTeam] CHECK CONSTRAINT [FK_PlayerInTeam_Team]
GO
ALTER TABLE [dbo].[Players]  WITH NOCHECK ADD  CONSTRAINT [FK_Players_PlayerPositions] FOREIGN KEY([PositionID])
REFERENCES [dbo].[PlayerPositions] ([Id])
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_PlayerPositions]
GO
ALTER TABLE [dbo].[Teams]  WITH NOCHECK ADD  CONSTRAINT [FK_Teams_Coaches] FOREIGN KEY([CoachID])
REFERENCES [dbo].[Coaches] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Coaches]
GO
USE [master]
GO
